input.ng-invalid.ng-touched {
  background-color: var(--color-red-300);
}
input.ng-invalid.ng-touched::placeholder {
  color: var(--color-primary-white);
}
textarea.ng-invalid.ng-touched {
  background-color: var(--color-red-300);
}
textarea.ng-invalid.ng-touched::placeholder {
  color: var(--color-primary-white);
}
