<header
  class="bg-primary-adblue mb-10 mx-auto py-10 flex flex-col items-center gap-2"
>
  <div class="bg-primary-grey w-25 h-25 rounded-full"></div>
  <h1 class="text-primary-white font-bold text-4xl">adbrag</h1>
  <p class="text-primary-white font-light text-xl">
    Because your work deserves to be seen
  </p>
  <select
    class="bg-secondaryGreen text-lg font-bold py-1 w-18 border-primary-black border-2 rounded-sm"
    [(ngModel)]="selectedYearValue"
    (change)="onYearChange()"
  >
    @for (year of availableYears; track year) {
    <option>{{ year }}</option>
    }
  </select>
</header>
