@if (isAddingGoal && goalsSection) {
<app-goal-form
  [title]="'Add new goal'"
  [description]="'Enter goal description:'"
  [placeholder]="'I want to be a the best angular developer of the world!'"
  [submitText]="'Add goal'"
  [cancelText]="'Cancel'"
  (cancel)="onCancelAddGoal()"
  (submitForm)="onAddGoal($event)"
  [goalsSection]="goalsSection!"
/>
} @if (isEditingGoal) {
<app-goal-form
  [title]="'Edit goal'"
  [description]="'Edit goal description:'"
  [submitText]="'Edit goal'"
  [cancelText]="'Cancel'"
  [goalsSection]="goalsSection!"
  [initialText]="goalText()"
  (cancel)="onCancelEdit()"
  (submitForm)="onEdit($event)"
/>} @if(isConfirmDelete){
<app-confirm-dialog
  [message]="'Are you sure you want to delete this goal?'"
  [confirmText]="'Yes, delete'"
  [cancelText]="'Cancel'"
  (confirm)="onDeleteConfirm()"
  (cancel)="onCancelDialog()"
/>
}
<div class="flex flex-col gap-8">
  <app-brag-item>
    <app-goals-section
      title="Goals for this year"
      [goals]="goalsThisYear()"
      goalsSection="goalsThisYear"
      (onAdd)="handleAdd($event)"
      (requestDelete)="handleDeleteRequest($event, 'goalsThisYear')"
      (requestEdit)="handleEditRequest($event, 'goalsThisYear')"
    />
  </app-brag-item>
  <app-brag-item>
    <app-goals-section
      title="Goals for next year"
      [goals]="goalsNextYear()"
      goalsSection="goalsNextYear"
      (onAdd)="handleAdd($event)"
      (requestDelete)="handleDeleteRequest($event, 'goalsNextYear')"
      (requestEdit)="handleEditRequest($event, 'goalsNextYear')"
    />
  </app-brag-item>
</div>
