/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-primary-adblue: #006ec7;
  --color-primary-liteblue: #4da3e6;
  --color-primary-white: #f8f9fa;
  --color-primary-grey: #e9ecef;
  --color-primary-black: #343a40;
  --color-secondaryGreen: #5dfcb9;
  --color-secondaryRed: #fa5252;
}
